*{
    margin: 0;
    padding: 0;
} 
.imgM{
    width: 200px;
}
section{
    width: 1000px;
    text-align: center;
    /* font-family: 'Times New Roman'; */
    margin-top: 10px;
    margin-left: 15%;
}
h1{
  font-family: 'Times New Roman';  
  font-size: 30px;
  text-align: center;
  color: rgb(196, 25, 25);
  grid-column: 1/-1;
}
p{
  font-family: Tahoma;
}

/* BOTON */
.botonA2{
    font-family: Tahoma;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(255, 123, 0);
    border-radius: 6px;
    border: none;
    /* border: 2px solid #999999; */
}
.boton{
  cursor: pointer;
}
  .botonA2:hover{
    color: rgb(255, 123, 0);
    background-color: #ffffff;
  }
  .botonA2:focus{ /*Lo ocupare para cuando este seleccionado y se vea en php*/
    background-color: #ffffff;
    color: rgb(255, 123, 0);
    border: 1px solid #999999;
  }
  .descrip{
    color: #999999;
  }
/* CANTIDAD */
.cant-control{
    font-family: Tahoma;
    padding: 8px;
    width: 60px;
    color: #999999;
    border-radius: 6px;
    /* border: none; */
    text-align: center;
    border: 1px solid #999999;
}

/* GRID DE PROMOCIONES */
/* contenedor de imagenes */
.contenedorM{ 
    align-content: center;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding: 0;
     grid-gap: 50px; /*este es para que haya sepación entre las filas */
}

/* RESPONSIVA */
@media screen and (max-width:768px) {
    .imgM{
        width: 150px;
    }
    section{
        width: 300px;
        text-align: center;
        margin-left:15px;
    }
    .contenedorM{ 
        align-content: center;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        padding: 0;
        grid-gap: 30px; /*este es para que haya sepación entre las filas */
    }
    .boxBoton{
      text-align: center;
    }
    .infoP{
        margin: 10px;
    }
    h1{
        font-size: 25px;
    }
}